version: "3.9"

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  nextcloud:
    image: ${ECR_REGISTRY}/nextcloud-app:latest
    restart: always
    depends_on:
      - db
    environment:
      MYSQL_HOST: db
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - nextcloud_data:/var/www/html

  nginx:
    image: ${ECR_REGISTRY}/nextcloud-app:nginx-latest
    ports:
      - "80:80"
    depends_on:
      - nextcloud

volumes:
  db_data:
  nextcloud_data:
